<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.summary.mapper.SanitationSummaryMapper">
    <sql id="column">
        a.id AS "id",
        a.create_by AS "createBy",
        a.create_time AS "createTime",
        a.update_by AS "updateBy",
        a.update_time AS "updateTime",
        a.sys_org_code AS "sysOrgCode",
        a.gr_baojy AS "grBaojy",
        a.gr_siji_sais AS "grSijiSais",
        a.gr_siji_lajysh AS "grSijiLajysh",
        a.gr_nan AS "grNan",
        a.gr_nv AS "grNv",
        a.gr_lessand45 AS "grLessand45",
        a.gr_more45 AS "grMore45",
        a.gr_lingshg AS "grLingshg",
        a.gr_zhengshg AS "grZhengshg",
        a.gr_huanwgl AS "grHuanwgl",
        a.chl_gans AS "chlGans",
        a.chl_xis AS "chlXis",
        a.chl_xich AS "chlXich",
        a.chl_saod_xiao AS "chlSaodXiao",
        a.chl_saod_da AS "chlSaodDa",
        a.chl_sash_xiao AS "chlSashXiao",
        a.chl_sash_da AS "chlSashDa",
        a.chl_wuc AS "chlWuc",
        a.chl_lajysh AS "chlLajysh",
        a.chl_diandbj AS "chlDiandbj",
        a.shsh_lajzh AS "shshLajzh",
        a.shsh_fenleilajzh AS "shshFenleilajzh",
        a.shsh_huanwgc_yil AS "shshHuanwgcYil",
        a.shsh_huanwgc_erl AS "shshHuanwgcErl",
        a.shsh_huanwgc_sl AS "shshHuanwgcSl",
        a.shsh_shehgc AS "shshShehgc",
        a.shsh_guokx AS "shshGuokx",
        a.shsh_lajt AS "shshLajt",
        a.bj_yl_shul AS "bjYlShul",
        a.bj_yl_changd AS "bjYlChangd",
        a.bj_yl_mianj AS "bjYlMianj",
        a.bj_yl_jinfbzh AS "bjYlJinfbzh",
        a.bj_erl_shul AS "bjErlShul",
        a.bj_erl_changd AS "bjErlChangd",
        a.bj_erl_mianj AS "bjErlMianj",
        a.bj_erl_jinfbzh AS "bjErlJinfbzh",
        a.bj_ssl_shul AS "bjSslShul",
        a.bj_ssl_changd AS "bjSslChangd",
        a.bj_ssl_mianj AS "bjSslMianj",
        a.bj_ssl_jinfbzh AS "bjSslJinfbzh",
        a.bj_shq_shul AS "bjShqShul",
        a.bj_shq_mianj AS "bjShqMianj",
        a.bj_shq_jinfbzh AS "bjShqJinfbzh",
        a.bj_zongmj AS "bjZongmj",
        a.bj_waibmj AS "bjWaibmj",
        a.bj_jixh_qings_mianj AS "bjJixhQingsMianj",
        a.bj_jixh_qings_cang AS "bjJixhQingsCang",
        a.bj_shichh AS "bjShichh",
        a.bj_jixieh AS "bjJixieh",
        a.bj_shich_danwei AS "bjShichDanwei",
        a.bj_waib_jinfbzh AS "bjWaibJinfbzh",
        a.shichh_leib AS "shichhLeib",
        a.shichh_zuiye_danwei AS "shichhZuiyeDanwei",
        a.shichh_jinfei_biaozh AS "shichhJinfeiBiaozh",
        a.ful_tijian AS "fulTijian",
        a.ful_jiejia AS "fulJiejia",
        a.ful_yiwai_baoxian AS "fulYiwaiBaoxian",
        a.ful_shehui_baoxian AS "fulShehuiBaoxian",
        a.ful_yiwai_baoxian_jinge AS "fulYiwaiBaoxianJinge",
        a.ful_gongzbiaozh AS "fulGongzbiaozh",
        a.ful_gonglgzbiaozh AS "fulGonglgzbiaozh",
        a.ful_gongjijing AS "fulGongjijing",
        a.shichhgc_leib AS "shichhgcLeib",
        a.shichhgc_zuiye_danwei AS "shichhgcZuiyeDanwei",
        a.shichhgc_jinfei_biaozh AS "shichhgcJinfeiBiaozh",
        a.shichhljz_leib AS "shichhljzLeib",
        a.shichhljz_zuiye_danwei AS "shichhljzZuiyeDanwei",
        a.shichhljz_jinfei_biaozh AS "shichhljzJinfeiBiaozh",
        a.shichhljys_leib AS "shichhljysLeib",
        a.shichhljys_zuiye_danwei AS "shichhljysZuiyeDanwei",
        a.shichhljys_jinfei_biaozh AS "shichhljysJinfeiBiaozh",
        a.shichhljfl_leib AS "shichhljflLeib",
        a.shichhljfl_zuiye_danwei AS "shichhljflZuiyeDanwei",
        a.shichhljfl_jinfei_biaozh AS "shichhljflJinfeiBiaozh",
        a.shichhqt_leib AS "shichhqtLeib",
        a.shichhqt_zuiye_danwei AS "shichhqtZuiyeDanwei",
        a.shichhqt_jinfei_biaozh AS "shichhqtJinfeiBiaozh"
    </sql>

    <sql id="summaryColumn">
        a.id AS "id",
        a.create_by AS "createBy",
        a.create_time AS "createTime",
        a.update_by AS "updateBy",
        a.update_time AS "updateTime",
        a.sys_org_code AS "sysOrgCode",
        SUM(a.gr_baojy) AS "grBaojy",
        SUM(a.gr_siji_sais) AS "grSijiSais",
        SUM(a.gr_siji_lajysh) AS "grSijiLajysh",
        SUM(a.gr_nan) AS "grNan",
        SUM(a.gr_nv) AS "grNv",
        SUM(a.gr_lessand45) AS "grLessand45",
        SUM(a.gr_more45) AS "grMore45",
        SUM(a.gr_lingshg) AS "grLingshg",
        SUM(a.gr_zhengshg) AS "grZhengshg",
        SUM(a.gr_huanwgl) AS "grHuanwgl",
        SUM(a.chl_gans) AS "chlGans",
        SUM(a.chl_xis) AS "chlXis",
        SUM(a.chl_xich) AS "chlXich",
        SUM(a.chl_saod_xiao) AS "chlSaodXiao",
        SUM(a.chl_saod_da) AS "chlSaodDa",
        SUM(a.chl_sash_xiao) AS "chlSashXiao",
        SUM(a.chl_sash_da) AS "chlSashDa",
        SUM(a.chl_wuc) AS "chlWuc",
        SUM(a.chl_lajysh) AS "chlLajysh",
        SUM(a.chl_diandbj) AS "chlDiandbj",
        SUM(a.shsh_lajzh) AS "shshLajzh",
        SUM(a.shsh_fenleilajzh) AS "shshFenleilajzh",
        SUM(a.shsh_huanwgc_yil) AS "shshHuanwgcYil",
        SUM(a.shsh_huanwgc_erl) AS "shshHuanwgcErl",
        SUM(a.shsh_huanwgc_sl) AS "shshHuanwgcSl",
        SUM(a.shsh_shehgc) AS "shshShehgc",
        SUM(a.shsh_guokx) AS "shshGuokx",
        SUM(a.shsh_lajt) AS "shshLajt",
        SUM(a.bj_yl_shul) AS "bjYlShul",
        SUM(a.bj_yl_changd) AS "bjYlChangd",
        SUM(a.bj_yl_mianj) AS "bjYlMianj",
        SUM(a.bj_yl_jinfbzh) AS "bjYlJinfbzh",
        SUM(a.bj_erl_shul) AS "bjErlShul",
        SUM(a.bj_erl_changd) AS "bjErlChangd",
        SUM(a.bj_erl_mianj) AS "bjErlMianj",
        SUM(a.bj_erl_jinfbzh) AS "bjErlJinfbzh",
        SUM(a.bj_ssl_shul) AS "bjSslShul",
        SUM(a.bj_ssl_changd) AS "bjSslChangd",
        SUM(a.bj_ssl_mianj) AS "bjSslMianj",
        SUM(a.bj_ssl_jinfbzh) AS "bjSslJinfbzh",
        SUM(a.bj_shq_shul) AS "bjShqShul",
        SUM(a.bj_shq_mianj) AS "bjShqMianj",
        SUM(a.bj_shq_jinfbzh) AS "bjShqJinfbzh",
        SUM(a.bj_zongmj) AS "bjZongmj",
        SUM(a.bj_waibmj) AS "bjWaibmj",
        SUM(a.bj_jixh_qings_mianj) AS "bjJixhQingsMianj",
        SUM(a.bj_jixh_qings_cang) AS "bjJixhQingsCang",
        SUM(a.bj_shichh) AS "bjShichh",
        SUM(a.bj_jixieh) AS "bjJixieh",
        SUM(a.bj_shich_danwei) AS "bjShichDanwei",
        SUM(a.bj_waib_jinfbzh) AS "bjWaibJinfbzh",
        SUM(a.ful_tijian) AS "fulTijian",
        SUM(a.ful_jiejia) AS "fulJiejia",
        SUM(a.ful_yiwai_baoxian) AS "fulYiwaiBaoxian",
        SUM(a.ful_shehui_baoxian) AS "fulShehuiBaoxian",
        SUM(a.ful_yiwai_baoxian_jinge) AS "fulYiwaiBaoxianJinge",
        SUM(a.ful_gongzbiaozh) AS "fulGongzbiaozh",
        SUM(a.ful_gonglgzbiaozh) AS "fulGonglgzbiaozh",
        SUM(a.ful_gongjijing) AS "fulGongjijing"
    </sql>

    <select id="summaryByOrg" resultType="org.jeecg.modules.demo.summary.entity.SanitationSummary">
        SELECT
        <include refid="summaryColumn"/>
        FROM
            (
                SELECT
                  *
                FROM
                    (
                        SELECT
                            a1.*,
                            @rank := IF (@a = a1.sys_org_code ,@rank + 1, 1) AS 'rank' ,
                            @a := a1.sys_org_code
                        FROM
                            sanitation_summary a1
                        ORDER BY
                            a1.sys_org_code, a1.create_time DESC
                    ) a2,
                    (SELECT @rank := 1 ,@a := NULL) tt
                WHERE
                  rank = 1
            ) a
    </select>
</mapper>
