@charset "utf-8";

.new-login .top {
	margin-top: 20px;
	height: 120px;
	border-radius: 12px 12px 0 0;
	font-family: SourceHanSansCN-Regular;
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0;
	line-height: 117px;
	text-align: center;
	overflow: hidden;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.new-login .tip{
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom: 80px;
}
.new-login .tip .icon-nocheck {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	border: solid 1px #9abcda;
	position: relative;
	top: 2px;
	margin: 1px 8px 1px 1px;
	cursor: pointer
}

.new-login .tip .icon-check {
	margin: 0 7px 0 0;
	width: 14px;
	height: 14px;
	border: 0;
	background: url(../images/icon-login.png?v=201808271650) no-repeat -111px -48px
}

.new-login .tip .login-tip {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0;
	color: #9abcda;
	cursor: pointer
}



